# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
dist-ssr
*-dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Database
prisma/*.db
prisma/*.db-journal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Misc
**/agent-eval-report*
packages
pids
.file-manifest
.devcontainer/
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
